body {
    background: #e0e0e0;
}


ul {
    list-style: none;
}

.navbar {
    margin: 20px 300px;
    display: flex;
    justify-content: end;
}

a {
    text-decoration: none;
    color: rgb(121, 94, 60);
    padding: 10px;
}

a:hover {
    color: rgb(251, 255, 0);
    background-color:rgb(121, 94, 60);
    transform: scale(1.1);
    transition: transform 0.4s ease;
    
}

.content {
    float: center;
    color: rgb(0, 0, 0);
    align-items: center;
}

.content h1 {
    align-items: center;
    text-align: center;
    padding-top: 50px;
}

form {
    text-align: center;
    margin-top: 30px;
}


.home p {
    /* width: 50%;
    margin: auto; */
    margin-top: 20px;
    text-align: center;
    padding: 0 500px;
    
}

.contacts {
    text-align: center;
}

.contacts ul {
    width: 40%;
    margin: 0 auto;
    margin-top: 20px;
    text-align: left;
}

.contacts ul a {
    margin-top: 6px;
    text-decoration: none;
    color: rgb(213, 216, 14);
}

.contacts ul a:hover {
    color: rgb(251, 255, 0);
    transition: all 0.4s ease;
}



.model p {
    margin-top: 20px;
    text-align: center;
    padding: 0 500px;
}